# .gitignore file for config dir
#
# Ignore everything
*

# Whitelist files/folders
!.gitignore
!*.yaml
!*.md
!packages
!blueprints

# Ignore folders
.storage
.cloud
.google.token

# Ensure important ignored files
ip_bans.yaml
secrets.yaml
known_devices.yaml
